.apod-header{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.apod-sub-header{

    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -10px;
}